<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="汽车衡智能称重系统_by_C_shape.Properties.Settings.carConnectionString"
            connectionString="server=localhost;user id=root;password=admin;persistsecurityinfo=True;database=car"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>